* {box-sizing: border-box}

body {
  position:absolute;
  background-image: url(horizon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100%;
  width: 100%;
}
.topnav {
  display:absolute;
  overflow: hidden;
  position: relative;
  padding: 20px 10px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 3vh;
  line-height: 25px;
  
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.topnav a.logo {
  font-size: 50px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Change the background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Float the link section to the right */
.topnav-right {
  float: right;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

#first-I {
  display:inline-block;
  position: relative;
  z-index:0;
  width: 33%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  opacity: .5;
}
#WE {
  display:inline-block;
  position: relative;
  z-index:0;
  width: 33%;
  height: 100%;
  background-color: rgb(78, 75, 75);
  opacity: .5;
  
}
#last-I {
  display:inline-block;
  position: relative;
  z-index:0;
  width: 33%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  opacity: .5;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  font-size: 25vh;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
  color:whitesmoke;
 
}
#first_i {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color:whitesmoke;
  opacity:none ;
}
#last_i {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#register {
  padding:15px;
  height:100%;
  width: 40%;
  display:none;
  position: absolute;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  background-color: black;
  margin: auto;
  top:0px; bottom: 0px;
  right:0px; left: 0px;
  box-sizing: border-box;
  border-radius: 10px;
  opacity:2;
  pointer-events: auto;
  transition: color 1000ms;
}

#login {
  padding:20px;
  height:100%;
  width: 40%;
  display:none;
  position: absolute;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  background-color: black;
  margin: auto;
  top:0px; bottom: 0px;
  right:0px; left: 0px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 10px;
  opacity:1;
  pointer-events: auto;
  transition: all 500ms ease;
}

.modal {
  display:inline-block;
  position: static;
  overflow: auto;
}

.modal-container {
  height:100%;
  width: 100%;
  /* position: fixed; */
  pointer-events: none;
  opacity:0;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 5px black;
  transition: all 500ms ease;
}
#register:target{
  opacity:1;
  pointer-events: auto;
}
p{
  font-size:20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
a {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15pt;
}

.close {
  font-size: 28px;
  font-weight: bold;
  float:right;
}
.close:hover,
.close:focus {
color:grey;
text-decoration:none;
cursor:pointer;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: relative;
  border: none;
  background: #f1f1f1;
  border-radius: 2px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: skyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 2px;
  font-size: medium;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}
.swal-modal {
  background-color: white;
}
.swal-text {
  display: block;
  text-align: center;
  color: black;
  font-size: 3vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.swal-button {
  border-radius: 5px;
  background-color: black;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 600px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right {
    float: none;
  }
  .box, .block,#first-I,#WE,#last-I  {
    display: none;
  }
}
#profile {
 
  position: absolute;
  margin: auto;
  left:0px; right: 0px;
  height:90%;
  width: 90%;
  z-index: 1;
  background-color:rgb(46, 46, 46);
  border-radius: 5px;
  box-shadow: 0px 0px 50px 5px black;
}
.vl{
  position: absolute;
  left:50%;
  margin-left: 20px;
  border-left: 6px solid rgb(120, 120, 120);
  height: 100%;
  top: 0;
  z-index: 3;
}

.info{
  position: absolute;
  padding: 20px;
  height: 44%;
  width: 44%;
  top:25px; 
  right:25px; 
  background-color: black;
  z-index: 3;
  border-radius: 5px;

}
#section {
  position: absolute;
  top:25px;
  left:25px;
  padding: 15px;
  background-color: rgb(5, 5, 5);
  width: 48%;
  height: 93%;
  border-radius: 5px;
  color:white;
  font-size: 50px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
